.rs-container {
    display: block;
    position: absolute;
    overflow: hidden;
}

.rs-container * {
    border-spacing: 0px;
    padding: 0px;
    margin: 0px;
    outline : none;
    border : 0;
}

.rs-table {
    position: relative;
}

.rs-title-cell {
    padding-left: 25px;
    padding-right: 5px;
    background-color: #73A9CB;
    color: white;
    font-family: arial, helvetica, sans-serif;
    font-size: 0.9em;
}